<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member2">
	
	<resultMap id="memberMap" type="member2">
		<id column="member_no" property="memberNo"/>
		<result column="member_name" property="memberName"/>
		<result column="member_id" property="memberId"/>
		<result column="member_pw" property="memberPw"/>
		<result column="email" property="email"/>
		<result column="phone" property="phone"/>
		<result column="is_deleted" property="isDeleted"/>
		<result column="address" property="address"/>
		<result column="birthday" property="birthday"/>
		<result column="edu_type" property="eduType"/>
		<result column="subject_no" property="subjectNo"/>
		<result column="enroll_date" property="enrollDate"/>
		<result column="WARNING_COUNT" property="warningCount"/>
		<result column="REPORT_CHECKE_COUNT" property="reportCheckCount"/>		
		<result column="REPORT_VALID_COUNT" property="reportValidCount"/>		
	</resultMap>
 
 	<select id="selectAllMember" resultMap="memberMap">
		SELECT MEMBER_NO, MEMBER_ID, MEMBER_NAME, EMAIL, ENROLL_DATE,
			(SELECT COUNT(*) FROM WARNING2 W WHERE M.MEMBER_NO=W.MEMBER_NO) AS WARNING_COUNT,
			(SELECT COUNT(*) FROM REPORT2 R WHERE M.MEMBER_NO=R.AUTHOR_NO AND R.IS_CHECKED=0) AS REPORT_CHECKE_COUNT,
			(SELECT COUNT(*) FROM REPORT2 R WHERE M.MEMBER_NO=R.AUTHOR_NO AND R.IS_CHECKED=1) AS REPORT_VALID_COUNT
		FROM MEMBER2 M
 	</select>
 	
 	<insert id="insertMember" parameterType="Member2">
 		INSERT INTO MEMBER2(
 			MEMBER_NO,
 			MEMBER_NAME,
 			MEMBER_ID,
 			MEMBER_PW,
 			EMAIL,
 			PHONE,
 			IS_DELETED,
 			ADDRESS,
 			BIRTHDAY,
 			EDU_TYPE,
 			SUBJECT_NO,
 		) VALUES (
			MEMBER_SEQ.NEXTVAL,
			#{memberName},
			#{memberId},
			#{memberPw},
			#{email},
			#{phone},
			DEFAULT,
			#{address},
			#{birthday},
			#{eduType},
			#{subjectNo}
			SYSDATE 		
 		)
 	</insert>
	
</mapper>
