<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="post2">
	
	<resultMap id="postMap" type="post2">
		<id column="post_no" property="postNo"/>
		<result column="post_date" property="postDate"/>
		<result column="post_title" property="postTitle"/>
		<result column="post_content" property="postContent"/>
		<result column="category_no" property="categoryNo"/>
		<result column="subject_no" property="subjectNo"/>
		<result column="view_count" property="viewCount"/>
		<result column="is_temp" property="isTemp"/>
		<result column="is_deleted" property="isDeleted"/>
		<result column="product_type" property="productType"/>
		<result column="is_fix" property="isFix"/>
		<association property="member" javaType="member2">
			<id column="member_no" property="memberNo"/>
			<result column="member_name" property="memberName"/>
			<result column="member_id" property="memberId"/>
			<result column="member_pw" property="memberPw"/>
			<result column="email" property="email"/>
			<result column="phone" property="phone"/>
			<result column="address" property="address"/>
			<result column="birthday" property="birthday"/>
			<result column="edu_type" property="eduType"/>
			<result column="subject_no" property="subjectNo"/>
		</association>
		<association property="product2" javaType="product2">
	        <id column="product_no" property="productNo"/>
	        <result column="is_free" property="isFree"/>
	        <result column="product_price" property="productPrice"/>
	        <result column="has_delivery_fee" property="hasDeliveryFee"/>
	        <result column="delivery_fee" property="deliveryFee"/>
	        <result column="stock_count" property="stockCount"/>
	    </association>
	    <association property="file2" javaType="file2">
	        <id column="file_no" property="fileNo"/>
	        <result column="is_free" property="isFree"/>
	        <result column="file_price" property="filePrice"/>
	        <result column="sale_period" property="salePeriod"/>
	        <result column="oriname" property="oriname"/>
	        <result column="renamed" property="renamed"/>
	    </association>
		<collection property="postImg" resultMap="image2.imageMap"/>
	</resultMap>
	
	<!-- boardList.jsp에서 사용할 정보들 -->
	<select id="selectPostByCategory" resultMap="postMap" parameterType="map">
	    SELECT P.*, M.*, PR.*, F.*, I.*
	    FROM (SELECT ROWNUM AS RNUM, P.*
	          FROM (SELECT * FROM POST2 WHERE CATEGORY_NO=#{categoryNo})P
	         ) P
	    LEFT JOIN MEMBER2 M ON P.MEMBER_NO = M.MEMBER_NO
	    LEFT JOIN PRODUCT2 PR ON P.POST_NO = PR.POST_NO
	    LEFT JOIN FILE2 F ON P.POST_NO = F.POST_NO
	    LEFT JOIN IMAGE2 I ON P.POST_NO = I.POST_NO
	    WHERE RNUM BETWEEN #{start} AND #{end}
	</select>
	<!-- boardList.jsp에서 페이징바에 사용할 전체 게시글의 개수 -->
	<select id="getTotalCount" parameterType="int" resultType="int">
		SELECT COUNT(*)
		FROM POST2
		WHERE CATEGORY_NO = #{categoryNo}
	</select>
	<!-- boardList.jsp에서 공지사항에 사용할 정보 -->
	<select id="selectNotice" resultMap="postMap">
		SELECT * FROM post2 WHERE PRODUCT_TYPE=0 AND IS_FIX=1
	</select>
	<!-- boardList.jsp에 띄울 이미지 -->
	<select id="selectThumbnailByPost" resultMap="image2.imageMap">
		SELECT * FROM IMAGE2 WHERE POST_NO=#{postNo} AND IMG_SEQ=1
	</select>
	<!-- Post2 객체 불러오기 -->
	<select id="selectPostJoinAll" parameterType="_int" resultMap="postMap">
		SELECT P.*, M.*, PR.*, F.*, I.*
	    FROM (SELECT * FROM POST2 WHERE post_no=#{postNo}) P
	    LEFT JOIN MEMBER2 M ON P.MEMBER_NO = M.MEMBER_NO
	    LEFT JOIN PRODUCT2 PR ON P.POST_NO = PR.POST_NO
	    LEFT JOIN FILE2 F ON P.POST_NO = F.POST_NO
	    LEFT JOIN IMAGE2 I ON P.POST_NO = I.POST_NO
	</select>
	<!-- viewPost.jsp에서 이미지 불러오기 -->
	<select id="selectImageNo" parameterType="_int" resultMap="image2.imageMap">
		SELECT * FROM IMAGE2 WHERE POST_NO=#{postNo}
	</select>
	
	<!-- 메인 페이지에서 사용할 인기글 조회 로직 -->
	<select id="selectPostByPopular" resultMap="postMap">
		SELECT * 
		FROM (SELECT * FROM post2 
			WHERE PRODUCT_TYPE != 0
			ORDER BY VIEW_COUNT DESC)
		WHERE 8 >= ROWNUM
	</select>
</mapper>
