@charset "UTF-8";

/* footer 스타일 */
footer {
    width: 100%;
    padding: 20px 0;
    margin-top: auto; /* 컨텐츠가 적을 때 하단에 고정 */
    background-color: #fffadd;
    border-top: 1px solid #eee;
    text-align: center;
    font-size: 14px;
    color: #6f6f6f;
}

footer p {
    margin: 0;
}