@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: white;
}
.header {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    width: 1300px;
	height: 105px;
}
.header-container{
    display: flex;
    align-items: center;
    /* gap: 120px; */ /* gap 대신에 justi-content : space-between */
    justify-content: space-between;
}
#home-btn {
    display: flex;
    justify-content: center;
    width: 100px;
    height: 100px;
    padding: 10px;
}
#home-btn>img {
	width: 100px;
    height: 100px;
	border-radius: 20%;
}
#home-btn:hover {
    transform: scale(0.95);
}
.search-container {
	display: flex;
	justify-content: center;
	width: 900px;
}
#search-bar {
    display: flex;
    align-items: center;
    width:500px;
    padding : 8px;
    border: 1px solid #cccccc;
    border-radius: 25px;
}
#search-bar input {
    border: none;
    margin-left: 10px;
    flex-grow: 1;
}
#search-bar button {
    border: none;
    background-color: white;
}
.personal-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}
#personal-name {
	color : #6f6f6f;
	border: none;
	text-align : center;
	width: 80px;
	height: 50px;
	font-size: 12pt;
}
#personal-btn-write, #personal-btn-logout {
	height: 30px;
	background-color: white;
	border: 1px solid #cccccc;
	border-radius: 15%;
}
#personal-btn-cart {
	background-color : white;
	border: none;
}
#login-btn {
	margin : 15px;
	height: 40px;
	width: 120px;
	font-size: 11pt;
	color: #6f6f6f;
	background-color: white;
	border: 1px solid #cccccc;
	border-radius: 15px;
	white-space:nowrap;
	cursor:pointer;
}