@charset "UTF-8";

.side-img-icon {
    width: 30px;
    height: 30px;
}
.side-btn-text {
    margin-top: 8px;
    font-size: 13px;
    width: 60px;
    text-align: center;
    color: #6f6f6f;
}
.side-button {
    width: 60px;
    height: 60px;
    background-color: #fffadd;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 10px 0 10px 0;
}
.side-button:hover {
    background-color: #fff6c2;
}