@charset "UTF-8";

.card-section {
	display:flex;
	justify-content: space-between;
}

.card-container {
	width: 220px;
	height: 320px;
	background-color: white;
	box-shadow: 0 0 5px rgba(0,0,0,0.4); /* 초기 설정값 0.1 */
}
.card-img {
	padding: 15px 0 5px 15px;
	display: flex; 
	justify-content: center;
}
.card-img img {
	width:190px;
	height:auto; 
	object-fit:cover; /* 초과되는 부분 잘라냄 */
}
.card-content p {
	margin: 0 0 0 15px;
	padding: 3px;
}
.card-content:hover {
	transform: scale(1.015);
}