@charset "UTF-8";

#notice-div {
	color: red;	
	text-align: center;
	width: 1140px;
}
#categoryTitle {
	margin: 0 0 0 20px;
	font-size: 20pt;
	font-weight: bold;
}
.board-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#btn-group {
	display: flex;
	gap: 10px;
}
#btn-group>input {
	padding: 10px;
	background-color: white;
	border: 1px solid #cccccc;
	font-size: medium;
	border-radius: 5px;
	cursor: pointer;
}
.hidden {
	display: none;
}
.card-container.sold-out{
	display: none;
}
ul {
	list-style-type: none;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fffadd;
	padding: 10px;
	width: 1140px;
}
li {
	margin: 0 10px;
	font-size: 13pt;
}
li>a {
	padding: 10px;
	text-decoration: none;
	color: #6f6f6f;
	background-color: #fffadd;
	width: 50px;
	height: 50px;
}
li>a:hover {
	background-color: white;
	border-radius: 50%;
	font-size: larger;
	font-weight: bold;
}